* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0;
}

#search-input {
    width: 60%;
    max-width: 400px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    color: #333;
    outline: none;
}

#search-button {
    padding: 10px 20px;
    background-color: #138065;
    color: #fff;
    border: none;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.search-results {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.search-result {
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, .4);
    overflow: hidden;
}

.search-result img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.2 ease-in-out;
}

.search-result img:hover {
    opacity: .8;
}

.search-result a {
    font-size: 20px;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

#show-more-button {
    background-color: #008cba;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    border: none;
    display: block;
    margin: 30px auto;
    display: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .search-results {
        padding: 20px;
    }

    .search-result {
        width: 45%;
    }
}



@media screen and (max-width:488px) {
    .search-result {
        width: 100%;
    }
}